Pobierz dane dotyczące scoringu kredytowego

*Pracujesz jako analityk danych w globalnej firmie finansowej. Przez lata firma gromadziła podstawowe dane bankowe i wiele informacji związanych z kredytami. Kierownictwo chce zbudować inteligentny system do segregowania ludzi w przedziałach oceny kredytowej, aby zmniejszyć wysiłek ręczny.*

**Zadanie na dziś: przygotować dane do modelu**

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer

import danych

In [2]:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "train.csv"

# Load the latest version
df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS, "parisrohan/credit-score-classification", file_path,
)

print("First 5 records:", df.head())

<ipython-input-2-db52f5663265>:9: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  df = kagglehub.load_dataset(KaggleDatasetAdapter.PANDAS, "parisrohan/credit-score-classification", file_path,

Downloading from https://www.kaggle.com/api/v1/datasets/download/parisrohan/credit-score-classification?dataset_version_number=1&file_name=train.csv...

100%|██████████| 6.09M/6.09M [00:00<00:00, 129MB/s]

Extracting zip of train.csv...

First 5 records:        ID Customer_ID     Month           Name   Age          SSN Occupation  \
0  0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265  Scientist
1  0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265  Scientist
2  0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265  Scientist
3  0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265  Scientist
4  0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265  Scientist

  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  Credit_Mix  \
0      19114.12            1824.843333                  3  ...           _
1      19114.12                    NaN                  3  ...        Good
2      19114.12                    NaN                  3  ...        Good
3      19114.12                    NaN                  3  ...        Good
4      19114.12            1824.843333                  3  ...        Good

   Outstanding_Debt Credit_Utilization_Ratio     Credit_History_Age  \
0            809.98                26.822620  22 Years and 1 Months
1            809.98                31.944960                    NaN
2            809.98                28.609352  22 Years and 3 Months
3            809.98                31.377862  22 Years and 4 Months
4            809.98                24.797347  22 Years and 5 Months

   Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly  \
0                     No           49.574949       80.41529543900253
1                     No           49.574949      118.28022162236736
2                     No           49.574949         81.699521264648
3                     No           49.574949       199.4580743910713
4                     No           49.574949      41.420153086217326

                  Payment_Behaviour     Monthly_Balance Credit_Score
0   High_spent_Small_value_payments  312.49408867943663         Good
1    Low_spent_Large_value_payments  284.62916249607184         Good
2   Low_spent_Medium_value_payments   331.2098628537912         Good
3    Low_spent_Small_value_payments  223.45130972736786         Good
4  High_spent_Medium_value_payments  341.48923103222177         Good

[5 rows x 28 columns]

/usr/local/lib/python3.11/dist-packages/kagglehub/pandas_datasets.py:91: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  result = read_function(

**Poznaj dane:**

1.   sprawdź wymiary i typy kolumn
2.   usuń duplikaty
3.   usuń zdbędne kolumny
4.   sprawdz liczbę braków danych w poszczególnych kolumnach

In [3]:
print(df.shape)
print(df.dtypes)

(100000, 28)
ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

Usuń kolumny, które nie będą wykorzystywane w analizie ['ID','Customer_ID','SSN','Name']

In [4]:
df = df.drop(['ID','Customer_ID','SSN','Name'], axis=1)

usuń niektore z zbędnych znakow ('_','-'), zmień puste komorki na nan

In [5]:
for col in df.columns:
  if df[col].dtype == 'object':
    df[col] = df[col].str.replace('_', '')
    df[col] = df[col].str.replace('-', '')
    df[col] = df[col].replace('', np.nan)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     100000 non-null  object
 1   Age                       100000 non-null  object
 2   Occupation                92938 non-null   object
 3   Annual_Income             100000 non-null  object
 4   Monthly_Inhand_Salary     84998 non-null   float64
 5   Num_Bank_Accounts         100000 non-null  int64
 6   Num_Credit_Card           100000 non-null  int64
 7   Interest_Rate             100000 non-null  int64
 8   Num_of_Loan               100000 non-null  object
 9   Type_of_Loan              88592 non-null   object
 10  Delay_from_due_date       100000 non-null  int64
 11  Num_of_Delayed_Payment    92998 non-null   object
 12  Changed_Credit_Limit      97909 non-null   object
 13  Num_Credit_Inquiries      98035 non-null   float64
 14  Credit_Mix                79805 non-null   object
 15  Outstanding_Debt          100000 non-null  object
 16  Credit_Utilization_Ratio  100000 non-null  float64
 17  Credit_History_Age        90970 non-null   object
 18  Payment_of_Min_Amount     100000 non-null  object
 19  Total_EMI_per_month       100000 non-null  float64
 20  Amount_invested_monthly   95521 non-null   object
 21  Payment_Behaviour         100000 non-null  object
 22  Monthly_Balance           97132 non-null   object
 23  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(16)
memory usage: 18.3+ MB

Zmień nazwy miesiecy na zmienne liczbowe zgodnie z kolejnością miesięcy

In [6]:
month_mapping = {
    "January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6,
    "July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12
}

if df['Month'].dtype == 'object':
  df['Month'] = df['Month'].map(month_mapping)
  df['Month'].fillna(0, inplace=True)
  df['Month'] = df['Month'].astype(int)
else:
  print("Month column is not of object type")
print(df['Month'].head())

0    1
1    2
2    3
3    4
4    5
Name: Month, dtype: int64

<ipython-input-6-3bb44f5f9700>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Month'].fillna(0, inplace=True)

Zakoduj zmienne tekstowe: 'Occupation', 'Type_of_Loan', 'Payment_Behaviour', 'Credit_Mix', użyj LabelEncodera

Przelicz kolumne Credit_History_Age na liczbę mięsiecy

In [8]:
def convert_to_months(value):
    if pd.isna(value):
        return np.nan

    years, months = 0, 0
    parts = value.split(" and ")  #

    for part in parts:
        if "Year" in part:
            years = int(part.split()[0])
        elif "Month" in part:
            months = int(part.split()[0])

    return years * 12 + months


df['Credit_History_Months'] = df['Credit_History_Age'].apply(convert_to_months)

print(df['Credit_History_Months'].head())

0    265.0
1      NaN
2    267.0
3    268.0
4    269.0
Name: Credit_History_Months, dtype: float64

In [7]:

df['Type_of_Loan'] = df['Type_of_Loan'].fillna('')
df['Type_of_Loan'] = df['Type_of_Loan'].str.replace(r'\band\b', '', regex=True).str.strip() #removes "and"

# Split and clean the values
df_type_of_loan = df['Type_of_Loan'].str.split(r',\s*')  # Handles different spacing

# Use MultiLabelBinarizer
mlb = MultiLabelBinarizer()
dt = mlb.fit_transform(df_type_of_loan.to_list())  # Ensure correct format

# Convert to DataFrame
encoded_df = pd.DataFrame(data=dt, columns=mlb.classes_)

# Merge with original DataFrame and drop old column
df = df.join(encoded_df).drop(columns=['Type_of_Loan'])

print(df.head())

   Month  Age Occupation Annual_Income  Monthly_Inhand_Salary  \
0      1   23  Scientist      19114.12            1824.843333
1      2   23  Scientist      19114.12                    NaN
2      3  500  Scientist      19114.12                    NaN
3      4   23  Scientist      19114.12                    NaN
4      5   23  Scientist      19114.12            1824.843333

   Num_Bank_Accounts  Num_Credit_Card  Interest_Rate Num_of_Loan  \
0                  3                4              3           4
1                  3                4              3           4
2                  3                4              3           4
3                  3                4              3           4
4                  3                4              3           4

   Delay_from_due_date  ...    Auto Loan  CreditBuilder Loan  \
0                    3  ...  0         1                   1
1                   -1  ...  0         1                   1
2                    3  ...  0         1                   1
3                    5  ...  0         1                   1
4                    6  ...  0         1                   1

  Debt Consolidation Loan Home Equity Loan  Mortgage Loan Not Specified  \
0                       0                1              0             0
1                       0                1              0             0
2                       0                1              0             0
3                       0                1              0             0
4                       0                1              0             0

  Payday Loan  Personal Loan Student Loan
0           0              1            0
1           0              1            0
2           0              1            0
3           0              1            0
4           0              1            0

[5 rows x 33 columns]

Index(['Age', 'Occupation', 'Annual_Income', 'Num_of_Loan',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_History_Age', 'Payment_of_Min_Amount',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

Zmien inne zmienne na numeryczne

Uzupełnij braki w kolumnie Monthly_Inhand_Salary,  Annual_Income, .. średnią

Narysuj rozkłady zmiennych 'Annual_Income', 'Monthly_Balance'

usuń wartości odstające (w przypadku wieku wszystkie ujemne i te powyzej 100 lat)

Zwizualizuj korelacje między zmiennymi